What are the requirements
1. Create a base model
2. Change activation function one by one and store each new model
3. Store metrics for each model and store the best performing models
4. Train the best performing model with additional epochs
5. Store each model and their data


Create three different classes.
1. Data - Stores and processes any data
2. Model - Creates and stores models and their metrics
3. Store_Models - Stores models and best performing models

Fix evaluate metrics
1. Check if models folder has any models
2. When saving models, save all metrics
3. Load models automatically with the proper prefix

First Figure out the best activation function for the last piece
then use that to do all calculations

Add ability to resume from any place.
